[submodule "strategies/src/sandwich/contracts/rusty_sando/lib/ds-test"]
	path = strategies/src/sandwich/contracts/rusty_sando/lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "strategies/src/sandwich/contracts/lib/ds-test"]
	path = strategies/src/sandwich/contracts/lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "strategies/src/sandwich/contracts/lib/foundry-huff"]
	path = strategies/src/sandwich/contracts/lib/foundry-huff
	url = https://github.com/huff-language/foundry-huff
[submodule "strategies/contract/lib/ds-test"]
	path = strategies/contract/lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "strategies/contract/lib/foundry-huff"]
	path = strategies/contract/lib/foundry-huff
	url = https://github.com/huff-language/foundry-huff
[submodule "contract/lib/ds-test"]
	path = contract/lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "strategies/src/sandwich/contracts/lib/v2-core"]
	path = strategies/src/sandwich/contracts/lib/v2-core
	url = https://github.com/Uniswap/v2-core
[submodule "strategies/src/sandwich/contracts/lib/v3-core"]
	path = strategies/src/sandwich/contracts/lib/v3-core
	url = https://github.com/uniswap/v3-core
